@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,800;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html {
    background-color: #FBFBFB;
}
body {
    background-color: rgb(60,60,68);
    padding-bottom: 75px;
    height: auto;
}

svg {
    padding-right:6px;
}

.row {
    background-color: #fbfbfb;
}

.shadow.p-4.mt-4 {
    background-color: #fbfbfb;
}

.table.table-striped {
    background-color: #fbfbfb;
}

.card-img-top {
    border-radius: 4vw;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    color: #fbfbfb;
}

.footer p {
    font-size: 12px;
}

.footer h6 {
    padding-top:1px;
}

.footer h5 {
    padding-top: 12px;
}

.footer.row {
    padding-left: 0;
}

.footer p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.container-fluid.shadow.p-4 {
    background-color: white;
}

img#footer-logo {
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

#div-row-brands {
    background-color: rgb(60,60,68);
}

#homepage-h1 {
    color: #fbfbfb;
    font-family: 'Abril Fatface', cursive;
    font-style: bold;
}

#homepage-p {
    color: #fbfbfb;
    font-family: 'Lato', sans-serif;
}

#our-models {
    color:#fbfbfb;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 2vw;
}

#our-brands {
    color: #fbfbfb;
    font-family: 'Open Sans', sans-serif;
    padding-top: 5vw;
}

#model-name {
    font-family: 'Open Sans', sans-serif;
}

#collapsible-nav-dropdown {
    font-family: 'Lato', sans-serif;
}

#nav-dropdown-item {
    background-color: white;
    font-family: 'Lato', sans-serif;
}

#stats-div {
    margin-bottom: 10rem !important;
}