img#footer-logo {
    position: relative !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.bios {
    align-self: center;
    padding-top: 6px;
}

.about-ae p {
    padding-top: 6px;
    font-size: 12px;
}

.about-ae h5 {
    padding-top: 6px;
}

.footer {
    height: 107px !important;
}